$black: #121113;
$green: #026e57;
$blue: #2589bd;

* {
  color: $black !important;
}

b,
strong {
  color: $green !important;
  em {
    color: $black !important;
  }
}

blockquote {
  strong {
    color: $black !important;
  }
}

a {
  color: $blue !important;
}

.table-wrapper {
  width: 890px;
  max-width: none;
}
.side-bar {
  background-color: $green !important;
}

.nav-list-item a {
  font-size: 20px !important;
}
